Screen {
    background: #121213;
    color: $text;
    layout: vertical;
}

#settings_dialog {
    align: center middle;
    width: 100%;
    height: 100%;
}

#title {
    padding-bottom: 2;
    text-style: bold;
}

.subtitle {
    text-style: italic;
}